# GLOBAL 
__pycache__/

# DB FOLDER
db/postgres/logs/*
!db/postgres/logs/.gitkeep


# WEBSERVER FOLDER
webserver/nginx/logs/*
!webserver/nginx/logs/.gitkeep

# SAVE DIR FOR TEMPLATES
webserver/nginx/templates/out/*
!webserver/nginx/templates/out/.gitkeep

webserver/nginx/venv/