# GLOBAL 
__pycache__/
venv/


# DB FOLDER
db/postgres/logs*
!db/postgres/logs/.gitkeep


# WEBSERVER FOLDER
webserver/nginx/logs*
!webserver/nginx/logs/.gitkeep

webserver/nginx/templates/out*
!webserver/nginx/templates/out/.gitkeep